<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link href="static/main.css" rel="stylesheet">
</head>

<body>
    <main>
        <div class="container">
            <div class="my-5 flex flex-col ">
                <a href="/" class="hover:underline text-lightred">Назад</a>
                <h1 class="title pb-2">Где применяются операционные системы</h1>
                <p class="subtitle">На самом деле операционные системы присутствуют почти в любой элеткронике, будь то
                    микроволновка, холодельник, кондиционер, или даже чайник, и на это есть как минимум 2 причины:
                </p>
                <ul class="list-decimal mx-auto my-3">
                    <li class="ml-4">Интерфейс между устройствами вычислительной системы и прикладными программами.</li>
                    <li class="ml-4">Управления устройствами и рабочими процессами, эффективно распределяя системные
                        ресурсы.</li>
                </ul>
                <h1 class="title pb-2 mt-4">Расцвет ос в 2000-х гг.</h1>
                <p class="subtitle">В настоящее время мы являемся свидетелями небывалого расцвета операционных систем,
                    поэтому для их изучения сейчас для студентов открываются огромные возможности: выпускаются новые ОС
                    для настольных компьютеров,кластеров компьютеров и параллельных вычислений,мобильных
                    устройств,облачных вычислений.

                    Бесспорным лидером в данной области является корпорация Microsoft, выпустившая менее чем за 10
                    недавних лет целую серию ОС семейства Windows: Windows XP, Windows 2003, Windows Vista (2007),
                    Windows 2008, Windows 2008 High-Performance Computing (HPC), Windows 7.

                    Развиваются также диалекты ОС Linux (Red Hat, Fedora, Mandrake, Ubuntu, SuSE и др.– сотни
                    диалектов). <span class="termin">Linux</span> – операционная система типа UNIX, ядро которой
                    свободно распространяется с
                    исходными кодами.

                    Фирма Sun (в 2010 г. вошедшая в состав фирмы Oracle) разрабатывает и выпускает <span
                        class="termin">ОС Solaris</span> – одну из
                    наиболее современных ОС типа UNIX с развитой поддержкой параллельного программирования, новыми
                    видами файловых систем, отличающуюся своей повышенной надежностью.

                    Это лишь некоторые ОС, которым в данном курсе будет уделено значительное внимание. Существует также
                    много других операционных систем. В США и Канаде, как известно, весьма популярны компьютеры
                    семейства Macintosh фирмы Apple (коротко – Mac) со своей операционной системой MacOS, являющейся
                    законодателем мод в области графических пользовательских интерфейсов (GUI) и обмена мультимедийной
                    информацией (например, речевого ввода). Назовем также ОС фирмы IBM для суперкомпьютеров икомпьютеров
                    общего назначения (mainframes).

                    Особенно важно для успешного изучения операционных систем то, что в настоящее время многие из них
                    (или их крупные части, например, ядро) доступны с открытым исходным кодом.

                    Корпорация Microsoft положила начало этому движению в 2003 г., когда была объявлена академическая
                    программа Windows Embedded Shared Source – был открыт исходный код Windows для встроенных систем. А
                    в 2006 г. произошло и вовсе невероятное доселе в программистском мире событие – Microsoft открыла
                    "святую святых", исходный код ядра ОС Windows семейства NT (NT/2000/XP/2003/2008/7) и предоставила в
                    распоряжение университетов и академических организаций Windows Research Kernel (WRK) –
                    самодокументированный исходный код "исследовательского" ядра Windows. Теперь каждый студент,
                    преподаватель и исследователь имеют возможность изучать систему Windows "изнутри" и даже развивать
                    ее, но только для целей обучения и исследований, а не для коммерции.

                    Фирма Sun (ныне – Oracle) положила начало аналогичной инициативе для ОС Solaris – несколько лет
                    назад был начат проект OpenSolaris. Результаты этого академического проекта используются при выпуске
                    новых версий коммерческой ОС Solaris.

                    По традиции, еще с начала 1990-х гг., ядро ОС Linuxтакже распространяется свободно, с исходными
                    кодами, что вызвало целую волну работ по созданию новых диалектов Linux, а также по разработке новых
                    ОС длямобильных устройств на базе ядра Linux (например, ОС Google Android).

                    Также интенсивно развиваются ОС для мобильных устройств. Еще несколько лет назад наиболее
                    используемыми ОС в этой области были ОС семейства Symbian. Однако сейчас ОС Microsoft Windows Mobile
                    и Google Android активно теснят Symbian с рынка.

                    <span class="termin">ОС для облачных вычислений</span> – принципиально новый вид ОС, отражающий
                    современную тенденцию к
                    организации вычислений какоблачных (cloud computing). <span class="termin">Облако</span> – это
                    метафора Интернета. При облачных
                    вычислениях пользователь со своего компьютера получает платный доступ через Интернет к Web-сервисам,
                    работающим на компьютерах мощныхцентров обработки данных (например, на серверах Microsoft). При этом
                    не только используемое программное обеспечение (в виде набора Web-сервисов), но и сами
                    обрабатываемые данные пользователя хранятся на серверах "облачного" центра обработки данных. На
                    своем компьютере пользователь имеет лишь простой и удобный и не требующий больших ресурсов
                    "облачный" Web-интерфейс. Наиболее распространенной ОС для облачных вычислений является в настоящее
                    время Microsoft Windows Azure.

                    Вот лишь очень краткий обзор развития операционных систем в наши дни.

                    +По мнению автора, крупные фирмы открывают исходные коды своих операционных систем, привлекая
                    молодых талантливых специалистов интересными проектами ОС с открытым исходным кодом, так как им
                    необходимы молодые программисты и новые интересные идеи, которые позволят сделать ОС еще более
                    мощными, масштабируемыми, удобными, эффективными, надежными и безопасными.
                </p>
            </div>
        </div>
    </main>
    <footer>
        <div class="bg-black mt-5 dark:bg-white">
            <div class="py-7 text-center">
                <p class="text-gray-600">© Все права защищены</p>
            </div>
        </div>
    </footer>
</body>

</html>